.timeline-div{
  background-color: $color-background;
  @include flex-layout(row);
  @include flex-layout-alignment(center, center);

  .timeline-container{
   background: transparent;
   width: 920px;
   @include flex-layout(row);
   padding-top: 40px;

   @media only screen and (max-width: 760px) {
    @include flex-layout(column);
    width: 96%;
  }

   .posts{
    flex: 1;
    background: transparent;

    @media only screen and (max-width: 760px) {
      flex: 1;
    }

    .suggestions{
      @media only screen and (max-width: 760px) {
        display: none;
      }
    }
  

    .stories{
     height: 90px;
     border-radius: 4px;
     background-color: white;
     border: 1px solid $color-border;
     overflow-x: scroll;
    }
    .stories::-webkit-scrollbar {
        display: none;
    }
   }

   .suggestions{
    flex: 1;
   }
  }
}