.login-div{
  background-color: $color-background;
  width: 100%;
  height: 100vh;
  @include flex-layout(row);
  @include flex-layout-alignment(center, center);

  .login-container{
    @include flex-layout(row);
    @include flex-layout-alignment(space-around, flex-start);

    .form-div{
        text-align: center;
    }
  }
}