.login-div{
  background-color: $color-background;
  width: 100%;
  @include flex-layout(row);
  @include flex-layout-alignment(center, center);

  .login-container{
    @include flex-layout(row);
    @include flex-layout-alignment(space-around, flex-start);
    padding: 50px;

    .container-child{

      .form-div{
        background-color: $color-white-shade;
        margin-left: 20px;
        text-align: center;
        width: 320px;
        border: 1px solid $color-border;
        padding:0 30px 20px;

        img{
            margin: 20px 0 20px 0;
        }

        p{
            @include flex-layout(row);
            color:  rgb(128, 127, 127);
            font-size: 15px;
            margin: 10px;
        }

        p:before,
        p:after{
            content: ""; 
            flex: 1 1; 
            border-bottom: 2px solid rgb(151, 151, 151); 
            margin: auto;
        }

        .Login-Links{
          h4{
            color: $links-text-color;
            margin:10px;
          }
        }
      }

      .signup-link-div{
        background-color: $color-white-shade;
        margin: 10px 0px 10px 20px;
        border: 1px solid $color-border;
        padding: 25px;
      }

      .App-link-div{
        img{
          margin: 20px 5px 10px;
          cursor: pointer;
        }
      }
    }
  }
}