.login-div{
  background-color: $color-background;
  width: 100%;
  @include flex-layout(column);
  @include flex-layout-alignment(center, center);

  .login-container{
    @include flex-layout(row);
    @include flex-layout-alignment(space-around, flex-start);
    padding: 50px;

    @media only screen and (max-width: 760px) {
      @include flex-layout(column);
      width: 90%;
    }

    .container-child{

      .login-phone{
        @media only screen and (max-width: 760px) {
          display: none;
        }
      }

      .form-div{
        @include div-scss(320px, 0, 30px, 20px, 0, 20px, 0px);

        img{
            margin: 20px 0 20px 0;
        }

        p{
            @include flex-layout(row);
            color:  rgb(128, 127, 127);
            font-size: 15px;
            margin: 10px;
        }

        p:before,
        p:after{
           @include horizontal-line();
        }

        .Login-Links{
          h4{
            color: $links-text-color;
            margin:10px;
          }
        }
      }

      .signup-link-div{
        @include div-scss(320px, 20px, 30px, 20px, 20px, 20px, 10px);
      }

      .App-link-div{
        img{
          margin: 20px 5px 10px;
          cursor: pointer;
        }
      }
    }
  }
}