.navbar-container{
 @include flex-layout(row);
 @include flex-layout-alignment(center,center);
 border-bottom: 1px solid rgb(190, 190, 190);

 .navbar{
   width: 920px;
   @include flex-layout(row);
   @include flex-layout-alignment(space-between,center);
   padding-top: 5px;

   input{
    height: 25px;
    width: 200px;
    position: relative;
    text-align: center;
    border: 1px solid rgb(151, 151, 151);
   }

   @media only screen and (max-width: 760px) {
    input {
        display: none;
    }
   }
  
   .icons{
    .icon{
        font-size: 30px;
        margin-left: 10px;
        cursor: pointer;
    }
   }
 }
}